REACT_APP_CHAT_COMMANDS_PRIVILEGED_USERS=mattisnotasheep,khronosvii,piratesoftware
REACT_APP_DEFAULT_CHANNEL_NAMES=ferretsoftware,piratesoftware
REACT_APP_EXTRA_CHANNEL_NAMES=mattisnotasheep
REACT_APP_API_BASE_URL=https://example.com
REACT_APP_TIMEZONE=America/Chicago
