# Channels to listen to for commands
REACT_APP_TEST_CHANNEL_NAMES=ferretsoftware,mattisnotasheep

# People who can use commands in addition to broadcaster and moderators.
REACT_APP_CHAT_COMMANDS_PRIVILEGED_USERS=mattisnotasheep,khronosvii,rivermakes,piratesoftware,dusty_rooster

# Base URL for the API, under which ferrets.json is located.
REACT_APP_API_BASE_URL=http://localhost:3000
